<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./layouts/head %>
</head>

<body class="container">

    <header>
        <% include ./layouts/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

    <footer>
        <% include ./layouts/footer %>
    </footer>

</body>

</html>