<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./layouts/head %>
</head>

<body class="container">

    <header>
        <% include ./layouts/header %>
    </header>

    <main>
        <div class="row">
            <div class="jumbotron col-7 text-center">
                <h1>This is great</h1>
                <p>Welcome to templating using EJS</p>
            </div>
            <div class="col-5">
                <img src="/images/bicycle-girls.jpg" alt="bicycle-girls" style="border-radius: 3px;max-width: 100%;height: auto">
            </div>
        </div>
    </main>

    <footer>
        <% include ./layouts/footer %>
    </footer>

</body>

</html>