<h1>This is the Homepage</h1>
<br>
<form action="/users/search" method="get">
    <input type="text" name="_name">
    <input type="submit" value="Search">
</form>
<br>
<a href="/users">List User</a><br>
<br>
<a href="/users/create">Create new</a>