<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../layouts/head %>
</head>

<body class="container">
    <header>
        <% include ../layouts/header %>
    </header>
    <main>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-9">
                <h1 class="text-center">CREATE NEW MEMBER</h1>
                <% if (locals.Err) { %>
                <% for(var i=0; i<Err.length; i++) {%>
                <div class="alert alert-danger" role="alert">
                    <%= Err[i] %>
                </div>
                <% } %>
                <% } %>

                <form action="/users/create" method="post">
                    <div class="form-group">
                        <label>Full name</label>
                        <input type="text" class="form-control" name="name" placeholder="Full name" value="<%=locals.Value?Value.name:""%>">
                        <small class="form-text text-muted">Please input real name.</small>
                    </div>
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter email" value="<%=locals.Value?Value.email:""%>">
                        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password" value="<%=locals.Value?Value.name:""%>">
                        <small class="form-text text-muted">Passwords must be at least 5 characters long.</small>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <% include ../layouts/footer %>
    </footer>

</body>