<a href="/"> Home</a><br>
<h1>Create new Member</h1>
<form action="/users/create" method="post">
    <br>Name: <input type="text" name="name">
    <br>Email: <input type="text" name="email">
    <br><br><input type="submit" value="Create">
</form>