<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../layouts/head %>
</head>

<body class="container">
    <header>
        <% include ../layouts/header %>
    </header>
    <div style="margin: 30px 0px">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
                <ul style="margin: 20px 0px">
                    <% for(var i=0; i<users.length; i++) {%>
                    <li>
                        <%= users[i].name %>
                        <a href="/users/<%=users[i].id%>"> View</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <% include ../layouts/footer %>
    </footer>

</body>

</html>