<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../layouts/head %>
</head>

<body class="container">

    <header>
        <% include ../layouts/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1 class="text-center">USER</h1>
            <br>
            <table class="table text-center">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Full name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%=user.id%>
                        </td>
                        <td>
                            <%=user.name%>
                        </td>
                        <td>
                            <%=user.email%>
                        </td>
                        <td>
                            <%=user.password%>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>

</body>

</html>