<a href="/"> Home </a><a href="/users/create"> Create </a><a href="/users"> List </a><br>
<h1>User:</h1>
<br>
<p>
    Name:
    <%=user.name%>
</p>
<p>
    Email:
    <%=user.email%>
</p>
<p>
    ID:
    <%=user.id%>
</p>